
<ion-view view-title="Aplicativos Android">
    <ion-content class="im-wrapper">
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/apps/be_my_eyes_logo.png"><h2>Be My Eyes</h2><p>App permite conectar deficientes visuais a voluntários</p>
            </div>
            <div class="item item-image">
                <img src="img/apps/be_my_eyes.jpg">
            </div>
            <a class="item item-icon-left positive" href=""><i class="icon ion-archive"></i>Download</a>
        </div><br/>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/apps/call_logo.png"><h2>Automatic Call Recorder Pro 4.11</h2><p>Permite gravar as ligações facilmente</p>
            </div>
            <div class="item item-image">
                <img src="img/apps/call.jpg">
            </div>
            <a class="item item-icon-left positive" href=""><i class="icon ion-archive"></i>Download</a>
        </div><br/>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/apps/avc_logo.jpg"><h2>Advanced Volume Control v2</h2><p>Advanced Control Volume (AVC) Esta ferramenta permite que você ligue Alto o Auto-falantes</p>
            </div>
            <div class="item item-image">
                <img src="img/apps/avc.png">
            </div>
            <a class="item item-icon-left positive" href=""><i class="icon ion-archive"></i>Download</a>
        </div>
    </ion-content>
</ion-view>
