
<ion-view view-title="Notícias">
    <ion-content>
        <br/>
        <div class="list">
            <a class="item item-thumbnail-left" href=""><img src="img/news/blind.png"><h2>Aplicativo para ler dinheiro!</h2><p>Aplicativo que auxilia deficientes visuais estará diposnível a partir de agosto!
Bons downloads!</p></a>
            <br/><ion-item class="item-divider"></ion-item>
            <a class="item item-thumbnail-left" href=""><img src="img/news/ps4.jpg"><h2>Novas versões para PS4</h2><p>Está disponível a nova versão do P4s com correção de bugs, e novas funções.
Bons downloads!</p></a>
            <br/><ion-item class="item-divider"></ion-item>
            <a class="item item-thumbnail-left" href=""><img src="img/news/sense8.jpg"><h2>O fim de Sense8?</h2><p>A 2ª temporada de Sense8 ainda nem foi ao ar (estreia em 5 de maio na Netflix) e os fãs terão que lidar com a insegurança da continuação da série original.
Bons downloads!</p></a>
            <br/><ion-item class="item-divider"></ion-item>
            <a class="item item-thumbnail-left" href=""><img src="img/news/netflix.jpg"><h2>Brasileiro na Netflix</h2><p>A Netflix divulgou o primeiro trailer de Castelo de Areia ( Sand Castle ), filme dirigido pelo brasileiro Fernando Coimbra.
Bons downloads!</p></a>
            <br/><ion-item class="item-divider"></ion-item>
            <a class="item item-thumbnail-left" href=""><img src="img/news/showdomilhao.jpg"><h2>Único ganhador do Show do Milhão rejeita reencontro com Silvio Santos</h2><p>Há 14 anos, Sidiney de Moraes acertou a data de nascimento do ex-presidente Luiz Inácio Lula da Silva e se tornou o único ganhador do prêmio de R$ 1 milhão...
Bons downloads!</p></a>
            <br/><ion-item class="item-divider"></ion-item>
            <a class="item item-thumbnail-left" href=""><img src="img/news/celular.jpg"><h2>Ligações de telefone fixo para celular ficam mais baratas</h2><p>As ligações de telefone fixo para móvel passarão a ser mais baratas a partir do próximo dia 25, segundo informações da Anatel (Agência Nacional de... 
Bons downloads!</p></a>
            <br/><ion-item class="item-divider"></ion-item>
            <a class="item item-thumbnail-left" href=""><img src="img/news/sbt.jpg"><h2>SBT é eleito como um dos veículos mais admirados do Brasil</h2><p>Em 2017, o SBT acaba de conquistar, mais uma vez, um lugar no pódio do ranking da pesquisa Veículos Mais Admirados do Brasil, realizada pelo Grupo Troiano... 
Bons downloads!</p></a>
            <br/><ion-item class="item-divider"></ion-item>
            <a class="item item-thumbnail-left" href=""><img src="img/news/fgts.jpg"><h2>FGTS: veja o passo a passo para consultar o saldo pelo celular</h2><p>A partir de março, o trabalhador poderá sacar o dinheiro do FGTS que estiver em contas inativas até 31 de dezembro de 2015. Mas antes de fazer o resgate, é... 
Bons downloads!</p></a>
            <br/><ion-item class="item-divider"></ion-item>
            <a class="item item-thumbnail-left" href=""><img src="img/news/whatsapp.png"><h2>Status antigo do WhatsApp vai voltar</h2><p>A mais recente atualização do WhatsApp transformou completamente o recurso de status, e isso gerou muitas reclamações de brasileiros que estavam acostumados...
Bons downloads!</p></a>
            <br/><ion-item class="item-divider"></ion-item>
        </div>
    </ion-content>
</ion-view>
