
<ion-view view-title="Séries e Seriados">
    <ion-content>
        <div class="im-wrapper">
            <h4 class="no-border no-padding-bottom">Confira as séries em aúdio mais baixadas</h4>
            <strong>Clique em um dos títulos para mais informações</strong>
        </div>
        <ion-list class="animate-ripple">
            <ion-item nav-clear menu-close ng-click="">
                <h2>Z-Nation</h2>
                <p>2 Temporadas</p>
                <i class="icon ion-ios-videocam"></i>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="">
                <h2>Tapas e Beijos</h2>
                <p>5 Temporadas</p>
                <i class="icon ion-ios-videocam"></i>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="">
                <h2>Punho de Ferro</h2>
                <p>1 Temporada</p>
                <i class="icon ion-ios-videocam"></i>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="">
                <h2>Love</h2>
                <p>1 Temporada</p>
                <i class="icon ion-ios-videocam"></i>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="">
                <h2>Mr.Robot</h2>
                <p>2 Temporadas</p>
                <i class="icon ion-ios-videocam"></i>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="">
                <h2>Luke Cage</h2>
                <p>1 Temporada</p>
                <i class="icon ion-ios-videocam"></i>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="">
                <h2>The Night Of</h2>
                <p>1 Temporada</p>
                <i class="icon ion-ios-videocam"></i>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="">
                <h2>Desventuras em Série</h2>
                <p>1 Temporada</p>
                <i class="icon ion-ios-videocam"></i>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="">
                <h2>Black Mirror</h2>
                <p>3 Temporadas</p>
                <i class="icon ion-ios-videocam"></i>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="">
                <h2>Bem vindo a Beirais</h2>
                <p>2 Temporadas</p>
                <i class="icon ion-ios-videocam"></i>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="">
                <h2>Santa Clara Diet</h2>
                <p>2 Temporadas</p>
                <i class="icon ion-ios-videocam"></i>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="">
                <h2>Breaking Bad</h2>
                <p>5 Temporadas</p>
                <i class="icon ion-ios-videocam"></i>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="">
                <h2>Alcatraz</h2>
                <p>2 Temporadas</p>
                <i class="icon ion-ios-videocam"></i>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="">
                <h2>American Horror Story</h2>
                <p>2 Temporadas</p>
                <i class="icon ion-ios-videocam"></i>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="">
                <h2>O Mentalista</h2>
                <p>3 Temporadas</p>
                <i class="icon ion-ios-videocam"></i>
            </ion-item>
            <ion-item nav-clear menu-close ng-click="">
                <h2>Riquinho</h2>
                <p>2 Temporadas</p>
                <i class="icon ion-ios-videocam"></i>
            </ion-item>
    </ion-content>
</ion-view>
